.gradle
.idea
.venv
.vscode
*.bck
*.iml
**/__pycache__
build
gha-creds-*.json
release.properties
target
venv
pytest_otel.egg-info
junit-test_*.xml
.mypy_cache
.pytest_cache
tests/tests.json
dist
.coverage.*
.coverage
test_spans*.json
tests/data/
